.god-parents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 550px;
  margin: auto;
}

.god-parents .message {
  max-width: 500px;
}

.god-parents-context {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 15px;
  align-items: center;
}

.god-parents-context blockquote {
  margin-bottom: 20px;
}
.god-parents-context cite {
  float: right;
  margin-right: 10px;
}

.god-parents .error {
  margin: 20px auto;
}

.god-parents .error span {
  cursor: pointer;
}
