.invite {
    height: 100%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    white-space: pre-wrap;
}

.invite h2 {
    margin-bottom: 20px;
}

.invite .message {
    font-size: 18px;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
}

.response {
    width: 100%;
    font-family: Roboto, sans-serif;
    margin: 45px 0;
}

.response .btn {
    margin-bottom: 20px;
}


.contrast {
    margin-top:  20px;
    margin-bottom:  20px;
}

.medium {
    margin-top:  15px;
    margin-bottom:  15px;
}

.near {
    margin-top:  10px;
    margin-bottom:  10px;
}

.too-near {
    margin-top:  50px;
    margin-bottom:  50px;
}
