.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadein .4s;
    -moz-animation: fadein 2s; /* Firefox < 16 */
    overflow: hidden;
}

.popup-background {
    opacity: .75;
    position: absolute;
    height: 100%;
    width: 100%;
}

.popup-content {
    z-index: 99;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
}

.popup-content .input-field {
    margin-top: 40px
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}